@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
  border-left: 20px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-detail h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new account form */
.register {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.register label {
  text-align: left;
  display: block;
}

.register h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.register input,
.register textarea,
.register select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.register button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* login account form */
.login {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login label {
  text-align: left;
  display: block;  
}

.login h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;  
}

.login input,
.login textarea,
.login select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.login button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;  
}

/* cards */
.home {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}

.card {
  font-size: 12px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #e0e0e0;
}

.card h3 {
  margin-top: 0;
}

.card p {
/* top right bottom left */
  margin: 2px 2px 10px 2x;
 
}

h2 {
  margin-bottom: 20px;
}


/*Checkout cart*/
.checkout-cart {
  width: 100%;
  margin-top: 20px;
}

.checkout-cart table {
  width: 100%;
  border-collapse: collapse;
}

.checkout-cart th,
.checkout-cart td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.checkout-cart th {
  background-color: #f2f2f2;
}

.checkout-cart button {
  padding: 4px 8px;
  margin-left: 5px;
}

.checkout-cart p {
  margin-top: 10px;
}


.checkout-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}